

// COLORS
$color1: rgba(243, 233, 220, 1);
$color2: rgba(175, 123, 77, 1);
$color3: rgba(45, 46, 46, 1);
$color4: rgba(127, 35, 67, 1);
$color5: rgba(229, 184, 156, 1);


// FONTS
$patua-one: 'Patua One', serif;
$montserrat: 'Montserrat', san-serif;
$niramit: 'Niramit', sans-serif;
$open-sans-condensed: 'Open Sans Condensed', sans-serif;
$amaranth: 'Amaranth', san-serif;
$bad-script: 'Bad Script', cursive;
$gentium-basic: 'Gentium Basic', serif;
$grand-hotel: 'Grand Hotel', cursive;


// SCREEN SIZES
$desktop-lg: 1200px;
$desktop: 960px;
$tablet: 700px;
$mobile: 500px;
$mobile-sm: 320px;
