

// COLORS
$color1: rgba(117, 65, 65, 1);
$color2: rgba(221, 153, 171, 1);
$color3: rgba(255, 150, 204, 1);
$color4: rgba(226, 210, 199, 1);
$color5: rgba(223, 226, 207, 1);


// FONTS
$patua-one: 'Patua One', serif;
$montserrat: 'Montserrat', san-serif;
$niramit: 'Niramit', sans-serif;
$open-sans-condensed: 'Open Sans Condensed', sans-serif;

// SCREEN SIZES
$desktop-lg: 1200px;
$desktop: 960px;
$tablet: 700px;
$mobile: 500px;
$mobile-sm: 320px;
